<a href="https://colab.research.google.com/github/VladimirMorote/Alkemy-Chellenge-Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Exercises

## 1

In [ ]:
# Import pandas package 
import pandas as pd 
   
# Define a dictionary containing employee data 
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
   
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data) 
   
# converting and overwriting values in column 
df["Name"]= df["Name"].str.lower()
 
print(df)

     Name  Age    Address Qualification
0     jai   27      Delhi           Msc
1  princi   24     Kanpur            MA
2  gaurav   22  Allahabad           MCA
3    anuj   32    Kannauj           Phd

# 2

In [ ]:
# Import pandas package 
import pandas as pd 
   
# Define a dictionary containing employee data 
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
   
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data) 
   
# converting and overwriting values in column 
df["Name"]= df["Name"].str.lower()
 
print(df)

     Name  Age    Address Qualification
0     jai   27      Delhi           Msc
1  princi   24     Kanpur            MA
2  gaurav   22  Allahabad           MCA
3    anuj   32    Kannauj           Phd

# 3

In [ ]:

#Organizar los archivos en rutas siguiendo la siguiente estructura:
#“categoría\año-mes\categoria-dia-mes-año.csv”
#Por ejemplo: “museos\2021-noviembre\museos-03-11-2021”
#Si el archivo existe debe reemplazarse. La fecha de la nomenclatura
#es la fecha de descarga.

from calendar import month
import requests

import datetime
import csv
import os

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd


def get_data_to_csv(category, url, print_data=False):
    
    #get data from URL, add category to 'categoria' key
    #and save to csv in local directory: ./category/YYYY-MM/category-DD-MM-YYYY.csv
    #datetime for save csv: now()
    #save all keys in columns
    
    data = requests.get(url).json()
    for item in data['result']['records']:
        item['categoria'] = category
        if print_data:
            for key, value in item.items():
                print(key, ':', value)
            print('\n')

    now = datetime.datetime.now()

    # create directory if not exists
    if not os.path.exists(category+'/'+str(now.year)+'-'+str(now.month)):
        os.makedirs(category+'/'+str(now.year)+'-'+str(now.month))
        writeMode = 'a'
    else:
        writeMode = 'w'


    with open(category+'/'+str(now.year)+'-'+str(now.month)+'/'+category+'-'+str(now.day)+'-'
            +str(now.month)+'-'+str(now.year)+'.csv', writeMode, encoding='utf-8') as csvfile:
        columns = list(data['result']['records'][0].keys())
        writer = csv.DictWriter(csvfile, fieldnames=columns)
        writer.writeheader()
        for item in data['result']['records']:
            writer.writerow(item)

def csv_to_dataframe(category, day, month, year, show_head=False, show_info=False):
    """
    read csv file and return dataframe
    """
    df = pd.read_csv(category+'/'+str(year)+'-'+str(month)+'/'+category+'-'+str(day)+'-'
            +str(month)+'-'+str(year)+'.csv')

    if show_head:
        print('First data of: '+category+'-'+str(day)+'-'+str(month)+'-'+str(year)+'.csv'+'\n')
        print(df.head())
        print('\n')

    if show_info:
        print('Columns of: '+category+'-'+str(day)+'-'+str(month)+'-'+str(year)+'.csv'+'\n')
        print(df.info())
        print('\n')

    return df
    
    #read csv from local directory: ./category/YYYY-MM/category-DD-MM-YYYY.csv
    #and return pandas dataframe
    

def create_table(df, category, engine, show_query=False):
    """
    create table in database
    """
    df.to_sql(category, engine, if_exists='replace', index=False)

    if show_query:
        print(category+' table created, show query of 3 rows:')
        for query in engine.execute('SELECT * FROM '+category+' LIMIT 3'):
            print(query)
        print('\n')

if __name__ == '__main__':
    ## save data from url to csv:

    # museos: https://datos.gob.ar/dataset/cultura-mapa-cultural-espacios-culturales/archivo/cultura_4207def0-2ff7-41d5-9095-d42ae8207a5d
    get_data_to_csv('museos', 
        'https://datos.gob.ar/api/3/action/datastore_search?resource_id=cultura_4207def0-2ff7-41d5-9095-d42ae8207a5d')
    # salas_cine: https://datos.gob.ar/dataset/cultura-mapa-cultural-espacios-culturales/archivo/cultura_392ce1a8-ef11-4776-b280-6f1c7fae16ae
    get_data_to_csv("salas_cine", 
    'https://datos.gob.ar/api/3/action/datastore_search?resource_id=cultura_392ce1a8-ef11-4776-b280-6f1c7fae16ae')

    # bibliotecas: https://datos.gob.ar/dataset/cultura-mapa-cultural-espacios-culturales/archivo/cultura_01c6c048-dbeb-44e0-8efa-6944f73715d7
    get_data_to_csv('bibliotecas','https://datos.gob.ar/api/3/action/datastore_search?resource_id=cultura_01c6c048-dbeb-44e0-8efa-6944f73715d7')

    ## read csv to dataframe:
    day = datetime.datetime.now().day
    month = datetime.datetime.now().month
    year = datetime.datetime.now().year
    df_museos = csv_to_dataframe('museos', day, month, year, show_head=True, show_info=True)
    df_salas_cine = csv_to_dataframe('salas_cine', day, month, year, show_head=True, show_info=True)
    df_bibliotecas = csv_to_dataframe('bibliotecas', day, month, year, show_head=True, show_info=True)

First data of: museos-6-2-2022.csv

     latitud                              direccion  ...   longitud categoria
0 -34.748200                            Medrano 165  ... -58.394600    museos
1 -34.662110                Sarmiento 101, 1 º Piso  ... -58.363270    museos
2 -34.719200                          Rivadavia 498  ... -58.251700    museos
3 -34.712300                         25 de Mayo 198  ... -58.284900    museos
4 -34.712406  25 de Mayo 218 Este / Lavalle y Brown  ... -58.285194    museos

[5 rows x 21 columns]


Columns of: museos-6-2-2022.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   latitud                     100 non-null    float64
 1   direccion                   100 non-null    object
 2   anio_de_inauguracion        82 non-null     float64
 3   provincia                   100 non-null    object
 4   web                         6 non-null      object
 5   espacio_cultural_id         100 non-null    int64
 6   fuente                      100 non-null    object
 7   observaciones               16 non-null     object
 8   provincia_id                100 non-null    int64
 9   descripcion_de_patrimonio   99 non-null     object
 10  localidad_id                100 non-null    int64
 11  codigo_postal               100 non-null    object
 12  juridisccion                97 non-null     object
 13  anio_de_creacion            75 non-null     float64
 14  mail                        25 non-null     object
 15  localidad                   100 non-null    object
 16  nombre                      100 non-null    object
 17  telefono                    96 non-null     float64
 18  codigo_indicativo_telefono  96 non-null     float64
 19  longitud                    100 non-null    float64
 20  categoria                   100 non-null    object
dtypes: float64(6), int64(3), object(12)
memory usage: 16.5+ KB
None


First data of: salas_cine-6-2-2022.csv

                                                 Web  ...   categoria
0                    http://www.cinemacenter.com.ar/  ...  salas_cine
1                                                s/d  ...  salas_cine
2       http://resistencia.loscinesdelacosta.com.ar/  ...  salas_cine
3  http://www.culturachubut.gob.ar/…/convo-evita-...  ...  salas_cine
4   https://www.facebook.com/CineFantasioBellaVista/  ...  salas_cine

[5 rows x 27 columns]


Columns of: salas_cine-6-2-2022.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Web                    100 non-null    object
 1   tipo_gestion           100 non-null    object
 2   Piso                   100 non-null    object
 3   Provincia              100 non-null    object
 4   TipoLatitudLongitud    100 non-null    object
 5   Nombre                 100 non-null    object
 6   Mail                   100 non-null    object
 7   Cod_Loc                100 non-null    int64
 8   Observaciones          0 non-null      float64
 9   Departamento           100 non-null    object
 10  Categoría              100 non-null    object
 11  Longitud               100 non-null    float64
 12  Butacas                100 non-null    int64
 13  espacio_INCAA          14 non-null     object
 14  Dirección              100 non-null    object
 15  Localidad              100 non-null    object
 16  CP                     100 non-null    int64
 17  Información adicional  0 non-null      float64
 18  Latitud                100 non-null    float64
 19  Teléfono               100 non-null    object
 20  Fuente                 100 non-null    object
 21  año_actualizacion      100 non-null    int64
 22  IdProvincia            100 non-null    int64
 23  cod_area               100 non-null    object
 24  Pantallas              100 non-null    int64
 25  IdDepartamento         100 non-null    int64
 26  categoria              100 non-null    object
dtypes: float64(4), int64(7), object(16)
memory usage: 21.2+ KB
None


First data of: bibliotecas-6-2-2022.csv

   Web  Piso  ... IdDepartamento    categoria
0  NaN   NaN  ...          70049  bibliotecas
1  NaN   NaN  ...           2000  bibliotecas
2  NaN   NaN  ...           2000  bibliotecas
3  NaN   NaN  ...           2000  bibliotecas
4  NaN   NaN  ...           2000  bibliotecas

[5 rows x 26 columns]


Columns of: bibliotecas-6-2-2022.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Web                    0 non-null      float64
 1   Piso                   0 non-null      float64
 2   Provincia              100 non-null    object
 3   Año_actualizacion      100 non-null    int64
 4   Cod_tel                100 non-null    object
 5   TipoLatitudLongitud    100 non-null    object
 6   Subcategoria           0 non-null      float64
 7   Observacion            0 non-null      float64
 8   Mail                   100 non-null    object
 9   Cod_Loc                100 non-null    int64
 10  Tipo_gestion           100 non-null    object
 11  Departamento           100 non-null    object
 12  año_inicio             100 non-null    int64
 13  Categoría              100 non-null    object
 14  Longitud               100 non-null    float64
 15  Localidad              100 non-null    object
 16  CP                     100 non-null    object
 17  Información adicional  0 non-null      float64
 18  Latitud                100 non-null    float64
 19  Teléfono               100 non-null    object
 20  Fuente                 100 non-null    object
 21  IdProvincia            100 non-null    int64
 22  Nombre                 100 non-null    object
 23  Domicilio              100 non-null    object
 24  IdDepartamento         100 non-null    int64
 25  categoria              100 non-null    object
dtypes: float64(7), int64(5), object(14)
memory usage: 20.4+ KB
None